.about {
    &__container {
        padding-top: 80px;
        overflow: visible !important;

        @media(max-width: 991px) {
            padding-top: 40px;
        }
    }

    &__items {}

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 60px;

        @media(max-width: 991px) {
            margin-bottom: 30px;
        }

        &:nth-child(3) {
            .about__itemImage {
                transform: translateY(60px);

            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-bottom: 32px;

                li {
                    align-items: center;
                    display: flex;


                    p {
                        margin-bottom: 0;
                    }

                    span {
                        color: var(--primary);


                        aspect-ratio: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // height: 20px;
                        // padding: 6px;
                        border-radius: 50%;
                        color: var(--primary);
                        background: rgba(0, 178, 7, 0.10);
                        font-size: 12px;
                    }
                }
            }
        }

    }

    &__itemContent {
        max-width: 590px;
        min-width: 50%;
        flex: 60%;

        h2 {

            font-size: 56px;

            font-weight: 600;
            line-height: 120%;
            /* 67.2px */
            margin-bottom: 32px;

            @media(max-width: 991px) {
                font-size: 40px;
                margin-bottom: 24px;
            }

            @media(max-width: 668px) {
                font-size: 32px;
                margin-bottom: 16px;
            }
        }

        p {
            color: var(--gray6);
            font-size: 18px;
            margin-bottom: 12px;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media(max-width: 991px) {
                grid-template-columns: 1fr;
            }

            li {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }
    }

    &__itemImage {
        flex: 30%;

        position: relative;

        @media(max-width: 620px) {
            display: none;
        }

        img {
            &:nth-child(1) {
                position: relative;
                z-index: 1;
                bottom: 0px;
                // position: absolute;
            }
        }
    }

    &__itemBg {
        position: absolute;
        bottom: 0px;
        right: 0;
        // top: 0;
        max-width: 1200px;
        height: 100%;
        width: 100%;
        z-index: 0;
        transform: translatex(-200px);

        @media(max-width: 991px) {
            transform: translatex(-20px);

        }
    }

    &__itemIcon {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72px;
        // padding: 6px;
        border-radius: 50%;
        color: var(--primary);
        background: rgba(0, 178, 7, 0.10);
        font-size: 40px;
    }

    &__itemText {
        h4 {

            font-size: 18px;

            font-weight: 500;
            line-height: 150%;
            /* 27px */
        }

        p {
            color: var(--gray5);

        }
    }

}