.productCard {
    max-width: 270px;
    position: relative;
    border: 1px solid var(--gray1);
    background: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    &:hover {
        border: 1px solid var(--hard-primary);

        box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);

        img {
            transform: scale(1.09);
            filter: grayscale(0);
        }
    }

    &__badge {
        position: absolute;
        z-index: 5;
        display: inline-block;
        top: 8px;
        left: 8px;
        border-radius: 4px;
        background: var(--Branding-Error, #EA4B48);
        padding: 3px 8px;
        color: var(--white, #FFF);

        font-weight: 500;
        line-height: 150%;

    }

    &__imageContainer {
        position: relative;
        overflow: hidden;

        border-radius: 10px;
        margin-bottom: 16px;
        padding: 0;

        img {
            filter: grayscale(0.3);
            position: relative;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        /* занимает всё оставшееся место */

    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;

    }

    &__right {}

    &__name {
        color: var(--gray7);

        /* Body Small/Body Small, 400 */
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        flex: 1;

    }

    &__price {
        color: var(--gray9);

        font-size: 16px;

        font-weight: 500;
        line-height: 150%;
        /* 24px */
    }

    &__oldPrice {
        color: var(--gray4);

        font-size: 10px;

        line-height: 150%;
        /* 24px */
        text-decoration-line: line-through;
    }

    &__rating {
        font-size: 18px;
        color: var(--warning);
    }

}