@use './base/fonts.scss';
@import './base/icomoon.css';
@import './base/variables.css';

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: var(--gray9);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit; // чтобы не было дефолтного Times New Roman
    color: inherit;
}

._container {
    overflow: hidden;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

#root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // overflow: clip;

    // Притискаємо footer
    >main {
        flex: 1 1 auto;
        // height: 100%;
    }

    // Фікс для слайдерів
    >* {
        min-width: 0;
    }
}


a.headerMenuLink {
    color: var(--white) !important;
}