.select {
    all: unset;
    /* сбросит почти все стили */
    display: inline-block;
    /* вернуть нужное отображение */
    // width: 100%;
    /* или нужную ширину */
    box-sizing: border-box;
    /* чтобы padding/width работали ожидаемо */
    cursor: pointer;
    /* курсор при наведении */
    background-color: var(--white);
    /* цвет фона */

    // background: transparent;
    // color: inherit;
    // border: none;

    // appearance: none;
    // padding: 12px;
    option {

        // background: #0F172A;
        // display: flex;
        text-align: center;

    }

    appearance: none;
    // min-width: 34px;
    padding-left: 4px;
    padding-right: 4px;
}


.label {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    color: var(--gray6);

    font-family: Poppins;
    font-size: 12px;

    line-height: 130%;

    /* 15.6px */
    span {
        font-size: 7px;
        color: var(--gray6);
    }
}