.emptyTitle {
    font-family: 'Segoe Script';
    font-size: 60px;
    // padding-top: 40px;
    // padding-bottom: 40px;
}

.emptyContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.container {
    // padding-top: 60px;
}

.title {}

.content {}

.items {}

.cart__header {}

.row {}

.product {}

.quantity__control {}

.subtotal {}

.remove {}

.actions {}

.coupon {}

.total {}

.total__line {}

.total__amount {}