/* From Uiverse.io by adamgiebl */

.resetBtn {
    display: flex;
    background-color: #71926e;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    // margin-bottom: 20px;
    margin-top: 4px;
}

.filter__section {
    max-width: 250px;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
}

.filter__categories {
    li {
        display: flex;
    }
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox:before {
    content: "";
    background-color: var(--primary);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox__label {
    font-size: 18px;
    // color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.rangePrice {
    // max-width: 150px;

}

.ratingList {
    li {
        label {
            display: flex;
            align-items: center;
            font-size: 18px;
        }
    }
}


.filter__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    input {
        display: none;
    }

    label {
        padding: 3px 6px;
        background: #e4dfdf;
        border: 1px solid transparent;
        border-radius: 20px;
        // font-size: 14px;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: var(--primary);
        }

        &:has(input:checked) {
            background: var(--primary);
            color: #fff;
        }
    }


}