.buttonRound {
    background: rgb(168, 152, 199);
    aspect-ratio: 1;
    border-radius: 50%;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.small {
    width: 24px;
    // width: 16px;
    font-size: 14px;
}

.medium {
    width: 40px;
    font-size: 18px;
}

.large {
    width: 45px;
    font-size: 35px;
}

.close {
    background: none;
    border: 1px solid var(--gray2);
    position: relative;

    span {
        height: 1px;
        width: 13px;
        background: var(--gray9);
        transform: rotate(45deg);

        &:nth-child(2) {
            transform: rotate(-45deg);
            position: absolute;
            // top: 0;
            // left: 0;
        }

    }

    &:hover {
        border-color: var(--gray9);
    }
}

.cart {
    background: var(--primary);
    color: var(--white);
    border: none;

    &:hover {
        background: var(--hard-primary);

    }

    &:disabled {
        background: none;
        color: var(--gray8);
        border: 1px solid var(--gray2);
        cursor: not-allowed;
    }

}

.bg {
    color: var(--primary);
    background-color: #fff;
    font-weight: 500;

    border: none;

    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }

    &:active {
        background-color: var(--hard-primary);

        color: var(--white);

    }
}